body {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.orange {
    color: #FA6920;
}

.header {
    background-color: #363636;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 3px solid #FA6920;
}

.title {
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    font-size: 25px;
    width: auto;
    float: left;
}

.navbar {
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    font-size: 15px;
    width: auto;
    float: right;
    margin-top: 9px;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    float: left;
    padding-left: 10px;
    text-transform: uppercase;
}

.bg_img {
    width: 100%;
}

.section {
    background-color: #363636;
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 3px solid #FA6920;
    border-top: 3px solid #FA6920;
}




